.loading {
  width: 25px;
  height: 25px;
  animation: loading 0.4s ease infinite alternate;
  /* animation-timing-function: cubic-bezier(0.2, 0.68, 0.18, 1.08); */
  margin: auto 0;
}

@keyframes loading {
  0% {
    height: 25px;
  }
  100% {
    height: 80px;
  }
}
